:root{

    --color-0-back: #e3fffd;
    --color-1-nav: #bbe9db;
    --color-2-foot: #bbe9db;
    --color-3: #aeccc6;
    --color-4: #757a79;
    --color-5: ;
    --color-6: ;
    --color-7: ;
    --color-8: ;
    --color-9: ;

}